* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

:root {
  font-size: 15px;
}

body {
  background-color: #ededed !important;
  color: #626262 !important;
}


/*****
****** HEADER
*****/

header {
  background-color: #161618;
  color: #fff;
  padding: 15px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

header a:hover {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  color: #fff;
  position: relative;
  transition: all 0.5s;
}

.logo:before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  color: #fff;
  background-color: #fff;
  top: 10px;
  transform: translateX(-50px);
}

.logo:hover {
  transform: translateX(30px);
}

.logo:hover:before {
  transform: translateX(0px;);
}

.newPostBtn {
  display: inline-block;
}


/*****
****** GLOBAL
*****/

a i {
  margin-right: 10px;
}

.btn {
  padding: 5px 15px;
  transition: all 0.3s;
  border-radius: 0 !important;
}

.btn--primary {
  background-color: #0051c9;
  color: #fff;
}

.btn--primary:hover {
  background-color: #005ce4;
  color: #fff;
}

.btn--primary:focus {
  color: #fff;
}

.btn--secondary {
  background-color: #bebebe;
  color: #000000;
}

.btn--secondary:hover {
  background-color: #cbcbcb;
  color: #000000;
}

.btn--secondary:focus {
  color: #000000;
}

h1,
h2,
h3 {
  color: #000000 !important;
}

h1 {
  font-size: 1rem !important;
  font-weight: bold !important;
  text-transform: uppercase;
  margin-bottom: 60px !important;
}

h2 {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  margin-bottom: 15px !important;
}


/*****
****** CONTENT
*****/

main {
  padding-top: 60px;
}

article {
  margin-bottom: 60px !important;
}

p.categories {
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  display: inline-block;
  font-size: 0.75rem;
  padding: 0 5px;
}
